<!DOCTYPE html>
<html>
<head>
    <title>Pilih Layanan</title>
</head>
<body>
    <h1>Pilih Layanan di <%= clinicName %></h1>
    <ul>
        <li><a href="/booking-klinik/<%= clinicId %>/pilih-layanan/umum">Layanan Umum</a></li>
        <li><a href="/booking-klinik/<%= clinicId %>/pilih-layanan/gigi-mulut">Layanan Gigi dan Mulut</a></li>
        <li><a href="/booking-klinik/<%= clinicId %>/pilih-layanan/gizi">Layanan Gizi</a></li>
        <li><a href="/booking-klinik/<%= clinicId %>/pilih-layanan/anak-remaja">Layanan Anak dan Remaja</a></li>
        <li><a href="/booking-klinik/<%= clinicId %>/pilih-layanan/ibu-kb">Layanan Kesehatan Ibu dan KB</a></li>
        <li><a href="/booking-klinik/<%= clinicId %>/pilih-layanan/lansia">Layanan Lansia</a></li>
    </ul>
</body>
</html>
