<!DOCTYPE html>
<html>
<head>
    <title>Profil Pengguna</title>
</head>
<body>
    <h1>Profil Pengguna</h1>
    <div>
        <h2><%= user.fullName %></h2>
        <p>Email: <%= user.email %></p>
        <p>Nomor Telepon: <%= user.phoneNumber %></p>
        <p>Jenis Kelamin: <%= user.gender %></p>
        <p>Tanggal Lahir: <%= user.birthDate %></p>
        <p>NIK: <%= user.nik %></p>
    </div>
</body>
</html>
